---
layout: default
title: Assob.it
sub-title: Chi siamo
bgimg: img/about-bg.jpg
---
<div class="container">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <a data-toggle="collapse" href="#collapseZero" style="font-style:normal;">
        <strong>AssoB.IT</strong> è un'associazione senza scopo di lucro nata con l'idea di promuovere la crescita e la diffusione delle tecnologie blockchain.</a>
      <div id="collapseZero" class="collapse">
        e di massimizzare sinergia, condivisione e collaborazione tra le aziende ed i professionisti che si muovono in questo campo di grande innovazione.
      </div>
      <p>Si pone l'obiettivo di:</p>
      <div id="accordion">
        <div class="row">
          <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0">
            <a data-toggle="collapse" href="#collapseOne" data-parent="#accordion">
              <h2>Informare</h2>
            </a>
            <div id="collapseOne" class="panel-collapse collapse">
              <p>
                E combattere la disinformazione oggi molto diffusa sull'argomento che, come nel caso di qualunque altra innovazione tecnologica di grande impatto, si è creata anche intorno alla “rivoluzione blockchain”, con organizzazione di eventi divulgativi e produzione
                di materiali dedicati agli sviluppi tecnologici, alle normative legali vigenti e allo studio dei rischi e dei vantaggi che si presentano a chi opera in questo nuovo settore. Fornire una certificazione sulle attività e i progetti dotati
                di crismi di serietà e professionalità, in un ambito fisiologicamente ancora molto esposto a frodi, imbrogli ed iniziative avventurose o poco trasparenti.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0">
            <a data-toggle="collapse" href="#collapseTwo" data-parent="#accordion">
              <h2>Assistere</h2>
            </a>
            <p id="collapseTwo" class="collapse">
              Assistenza sia legale che di business, a chiunque sia interessato a iniziare a utilizzare tecnologie blockchain per qualunque finalità: dai sistemi di pagamento, alla decentralizzazione dei contratti, agli investimenti in commodity sintetica, alle applicazioni
              legate a privacy e sicurezza informatica. Mettere in contatto chiunque sia interessato a sviluppare soluzioni legate a questo tipo di tecnologia, generando sinergie e coordinando gli sforzi di advocacy, di lobbying e di rappresentanza degli
              interessi e delle esigenze del settore.
            </p>
          </div>
          <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0">
            <a data-toggle="collapse" href="#collapseThree" data-parent="#accordion">
              <h2>Sviluppare</h2>
            </a>
            <p id="collapseThree" class="collapse">
              l'esigenza che proviamo di fare qualcosa di pratico e concreto ci porta a voler adottare una piattaforma che sfrutti le potenzialità delle tecnologie blockchain per automatizzare in modo decentralizzato, trasparente e sicuro le dinamiche associative e
              di governance della stessa AssoB.IT, arrivando a costituire addirittura un primo, piccolo esempio di “DAO” (“decentralized autonomous organization”).</p>
          </div>
          <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0">
            <a data-toggle="collapse" href="#collapseFour" data-parent="#accordion">
              <h2>Dialogare</h3>
            </a>
            <p id="collapseFour" class="collapse">
              Dialogare con le istituzioni. Questo scopo importante dell'associazione è spesso dimenticato nei documenti ufficiali. In realtà molti sono stati gli incontri di alcuni dei nostri membri più illustri con autorità fiscali, finanziarie ed economiche.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:50px">
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
      <a href="http://www2.deloitte.com/it/it.html">
        <img src="/img/deloitte.png" height="85" width="200" style="cursor: pointer;" />
      </a>
    </div>
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
      <a href="http://sellalab.com/">
        <img src="/img/Sellalab3000x784.fw.png" height="60" width="200" style="cursor: pointer;" />
      </a>
    </div>
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
        <a href="http://www.theavantgardegroup.it/">
          <img src="/img/theavantgardegroup.png" height="85" width="220" style="cursor: pointer;" />
        </a>
    </div>
  </div>
  <div class="row" style="margin-top:50px">
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
      <a href="http://www.btoresearch.com/index.php/it/">
        <img src="/img/bto.png" height="80" style="cursor: pointer;" />
      </a>
    </div>
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
        <a href="http://emea.nttdata.com/it/home/index.html">
          <img src="/img/NTT-Data-2.png" height="85" width="220" style="cursor: pointer;" />
        </a>
    </div>
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
      <a href="http://www.ey.com/IT/it/Home">
        <img src="/img/photo.jpg" height="80" style="cursor: pointer;" />
      </a>
    </div>
  </div>

  <div class="row" style="margin-top:50px">
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
        <a href="https://www.dlapiper.com/it/italy/">
          <img src="/img/dlapiper.svg" height="85" width="220" style="cursor: pointer;" />
        </a>
    </div>
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
        <a href="http://www.blockchainlab.it/">
          <img src="/img/blockchainlab.jpg" height="85" width="220" style="cursor: pointer;" />
        </a>
    </div>
    <div class="col-lg-4 col-md-4 text-center" style="margin-top:20px">
        <a href="https://www.bitboat.net/">
          <img src="/img/bitboat-logo.png" height="85" width="220" style="cursor: pointer;" />
        </a>
    </div>
  </div>


  <div class="row">
    <div class="text-center" style="margin-top:60px">
      <h2>People</h2>
    </div>
  </div>

  <div class="row">
    <!-- i dati sono in _data/members.yml -->
    <div class="text-center">
      {% assign loopindex = 0 %}
      {% for member in site.data.members %}
        {% assign loopindex = loopindex | plus: 1 %}
        {% assign rowfinder3 = loopindex | modulo: 3 %}
        {% assign rowfinder4 = loopindex | modulo: 4 %}
        <div class="col-lg-3 col-lg-offset-0 col-md-4" style="margin-top:20px">
          <img src="{{ member.immagine }}" height="60px" width="60px" />
          <div class="credit">{{ member.nome }}</div>
          <div class="credit">{{ member.ruolo }}</div>
          <div>{{ member.descrizione }} </div>
        </div>
        {% if rowfinder3 == 0 %}
          <div class="clearfix visible-md"></div>
        {% endif %}
        {% if rowfinder4 == 0 %}
          <div class="clearfix visible-lg"></div>
        {% endif %}

      {% endfor %}
    </div>
  </div>


  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 text-center" style="margin-top:20px">
    </div>
  </div>

</div>
