---
title: Documenti
sub-title: Statuto e accesso ai docs per il download
bgimg: img/post-bg.jpg
---
<!DOCTYPE html>
<html lang="en">

   {% include head.html %}

<body>

    <!-- Navigation -->
    {% include navbar.html %}

    <!-- Navigation -->

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% include header.html %}
    <!-- Main Content -->
    <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <a href="https://drive.google.com/open?id=0B7IWqVNsTPt0dkpSZXp0ekxSdkttQlA1QjlYcnFzRVhZWlFv">Statuto</a>
                </div>
            </div>
        </div>
    </article>
    <hr/>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <a href="https://drive.google.com/folderview?id=0B9RhYggrYYllTFZhdjFGd2lIMVU&usp=sharing">Documenti dell'Associazione per il download</a>
                </div>
            </div>
        </div>
    <hr/>

    <hr/>

    <!-- Footer -->

     {% include footer.html%}

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
