---
layout: default
bgimg: img/post-bg.jpg
excerpt_separator: <!--more-->
title: News e articoli degli e sugli associati
sub-title: l'opera dei membri dell'associazione
---
                    {% for post in site.posts %}
                    <article class="post-preview">
                      {% if post.img != null %}
                        <img width="300" height="200" src="{{ post.img }}"   style="float:right; margin:15px" alt="Untitled design">
                        {% else %}
                        {% endif %}
                        <h2 class="post-title">{{ post.title }}</h2>
                        <p>
                        {{ post.excerpt }}
                        </p>
                        <!-- se la pagina non ha un link esterno -->
                        {% if post.external_url == null %}
                        <!-- punto a quello e non ci sarà un contenuto del post sul sito -->
                        <a href="{{ post.url }}">Read More...</a>
                          {% else %}
                        <a href="{{ post.external_url }}">Read More... (sito esterno)</a>
                        {% endif %}
                        <div class="credit">{{ post.membro }} - {{ post.ruolo }}</div>
                        <div class="date-post">{{ post.date | date_to_string }}</div>
                        <hr>
                      </article>

                    {% endfor %}
