---
layout: default
bgimg: img/post-bg.jpg
title: News
sub-title: Tutto ciò che succede attorno al mondo dell'associazione
---
                    {% for post in site.posts %}



                     <h2 class="class="post-title"">{{ post.titolo }}</h2>
                      <div class="estratto" style="font-style:italic;">{{ post.estratto }}</div>
                      <div style="font-style:italic;">{{ post.autore }} - {{ post.ruolo }}</div> 
                     {% if post.external_url == null %}
                        <a href="{{ post.url }}">Read More...</a>
                    {% else %}
                        <a href="{{ post.external_url }}">Read More... (sito esterno)</a>
                    {% endif %}
                       
                      <div class="date-post">{{ post.date | date_to_string }}</div>
                    <hr>

                    {% endfor %}

